#id
{
    visibility: hidden;
}

td
{
    border: none;
}


div#navItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 400px;
  border-radius: 10px;
  background-color: lightgrey;

}

.servicesIcon{
  font-size: 50px;
  color: black;
}

div.navItemContainer {
  padding: 25px;
}


ul.navList li {
  display: inline-flex;
  list-style-type: none;

}

.servicesIcon:hover {
  color: grey;
}

.navButton {
  border: none;
  background: none;
}
/*END NAV ITEMS */


#backButtonContainer {
  float: left;
  border-radius: 50%;
  background-color: darkcyan;
  padding: 10px;
}

.fas.fa-arrow-left {
  font-size: 40px;
  color: white;
}


a:active, a:visited {
  text-decoration: none;
}
