.hidden {
  display: none;
}
body {
}
/* HEADER ITEMS */
header {
  width: 377px;
  height: 60px;
  margin: auto;
  display: flex;
  border-radius: 10px;
  background-color: skyblue;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

div#homeButtonContainer{
  border-radius: 50%;
  background-color: white;
  padding: 10px;
}

div#loginButtonContainer{
}

button#loginButton{
  border: none;
  background: none;
  border-radius: 5px;
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 28px;
  color: white;
  letter-spacing: 2px;
}

button#loginButton:hover{
  color: lightblue;
}

.fas.fa-home {
  font-size: 35px;
  color: skyblue;
}

.fas.fa-home:hover{
  color: lightblue;
}
/* END HEADER ITEMS */

/* NAV ITEMS */
div#navItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 400px;
  border-radius: 10px;
  background-color: lightgrey;
}

.servicesIcon{
  font-size: 50px;
  color: black;
  cursor: pointer;
}

div.navItemContainer {
  padding: 25px;
  text-align: center;
  width: 20%;
}

div.navItemLabel {
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
}

ul.navList li {
  display: inline-flex;
  list-style-type: none;

}

.servicesIcon:hover {
  color: grey;
}

.navButton {
  border: none;
  background: none;
}

input.navButton
{
  position: absolute;
  margin: -5px;
  height: 60px;
  width: 70px;
  cursor: pointer;
  background: transparent;
  opacity: 0;

  /*make radio button square in shape. source: https://codepen.io/DocMcBrown/pen/VjbpGQ */
  border: 1px solid #fff;
  -webkit-appearance: none;
}

/*END NAV ITEMS */

/*ZIPCODE INPUT MODAL */
#searchModal {
  width: 380px;
  border-radius: 10px;
  background-color: lightgrey;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
/*END ZIP INPUT */

/* BACK BUTTON */
#backButtonContainer {
  position: fixed;
  bottom: 15px;
  left: 15px;
  border-radius: 50%;
  background-color: darkgrey;
  padding: 10px;
  cursor: pointer;
}

.fas.fa-arrow-left {
  font-size: 40px;
  color: white;
}
/* END BACK BUTTON */

/* RESULTS PAGE STUFF */
div#servicesResultsContainer {
  display: flex;
  justify-content: center;
}

div#resultsContent {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 10px;
  width: 390px;
}

div#resultsContent > h3 {
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 17px;
  margin: 7px;
  padding: 5px;
}

ol#resultsList{
  font-family: 'Bitter', serif;
}

li.resultsItem {
  margin: 5px;
  margin-bottom: 15px;
}
div.servicesInfoContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.servicesInfoContainer p{
  margin: 2px;
}
/* END RESULTS PAGE STUFF */

/* LOGIN ITEMS */
div#loginModalContents{
  width: 400px;
  height: 200px;
  padding: 10px;
  margin: 150px auto;
  background-color: white;
  border-radius: 12px;
}

div#inputContainer{
  padding: 10px;
}

button.loginButton{
  border: none;
  background: none;
  font-size: 25px;
}


div#loginModalButtonsContainer{
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

div#loginModalContainer{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  box-sizing: border-box;
}

div#loginBackdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}
/* END LOGIN ITEMS */

a:active, a:visited {
  text-decoration: none;
}
