<!doctype html>
<html>
<head>
    <title>Talia's Cornucopia - App Server</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
    <body>
    <h1><a href="/">Return to homepage</a></h1>

    <h1>Take me to...</h1>
    <ul>
        <li><a href="/db/service_test">Service DB Test (SELECT *)</a></li>
    </ul>
      {{{body}}}
    </body>
</html>