<!doctype html>
<html>
    <head>
        <title>Talia's Cornucopia - App Server</title>
        <link rel="stylesheet" type="text/css" href="/style/style.css">
    </head>
    <body>
        {{{body}}}

        <h2>Server Navigation</h2>
        <ul>
            <li><a href="/server-test/db/service-test">Service DB Test (SELECT *)</a></li>
        </ul>

        <h1><a href="/">Return to homepage</a></h1>

    </body>
</html>