<div>
    <h2>I need...</h2>
    <div id="navItemContainer">
        <ul class="navList">
            <li>
                <a href=""><i class="servicesIcon fas fa-briefcase" id="workIcon"></i></a>
            </li>
            <li>
                <a href=""><i class="servicesIcon fas fa-bed shelterIcon"></i></a>
            </li>
            <li>
                <a href=""><i class="servicesIcon fas fa-user-md" id="healthcareIcon"></i></a>
            </li>
            <li>
                <a href=""><i class="servicesIcon fas fa-shopping-basket" id="itemsIcon"></i></a>
            </li>
            <li>
                <a href=""><i class="servicesIcon fas fa-utensils" id="foodIcon"></i></a>
            </li>
            <li>
                <a href=""><i class="servicesIcon fas fa-tshirt" id="clothingIcon"></i></a>
            </li>
            <li>
                <a href=""><i class="servicesIcon fas fa-wifi" id=wifiIcon></i></a>
            </li>
        </ul>
    </div>
</div>
<div id="backButtonContainer">
    <a href="/"><i class="fas fa-arrow-left"></i></a>
</div>