<div>
    <h2>I need...</h2>
    <div id="navItemContainer">
          <div class="navItemContainer">
            <button class="navButton" id="tempWorkButton">
              <i class="servicesIcon fas fa-briefcase" id="workIcon"></i>
            </button>
          </div>
          <div class="navItemContainer">
            <button class="navButton" id="shelterButton">
              <i class="servicesIcon fas fa-bed" id="shelterIcon"></i>
            </button>
          </div>
          <div class="navItemContainer">
            <button class="navButton" id="foodButton">
              <i class="servicesIcon fas fa-utensils" id="foodIcon"></i>
            </button>
          </div>
          <div class="navItemContainer">
            <button class="navButton" id="healthcareButton">
              <i class="servicesIcon fas fa-user-md" id="healthcareIcon"></i>
            </button>
          </div>
          <div class="navItemContainer">
            <button class="navButton" id="govHelpButton">
              <i class="servicesIcon fas fa-landmark" id=govIcon></i>
            </button>
          </div>
          <div class="navItemContainer">
            <button class="navButton" id="socialservicesButton">
              <i class="servicesIcon fas fa-hands-helping" id="socialservicesIcon"></i>
            </button>
          </div>
          <div class="navItemContainer">
            <button class="navButton" id="itemsButton">
              <i class="servicesIcon fas fa-shopping-basket" id="itemsIcon"></i>
            </button>
          </div>
          <div class="navItemContainer">
            <button class="navButton" id="clothingButton">
              <i class="servicesIcon fas fa-tshirt" id="clothingIcon"></i>
            </button>
          </div>
          <div class="navItemContainer">
            <button class="navButton" id="wifiButton">
              <i class="servicesIcon fas fa-wifi" id=wifiIcon></i>
            </button>
          </div>
      </div>
</div>

<div id="backButtonContainer">
    <a href="/"><i class="fas fa-arrow-left"></i></a>
</div>
