<header>
    <div id="homeButtonContainer">
        <a href="/client"><i class="servicesIcon fas fa-home"></i></a>
    </div>
    {{#if newUser}}New user successfully registered.{{/if}}Welcome, {{username}}. Please choose an option.
</header>
<br><br>

<span id="loadingMessage"></span>
<br/>
<div id="homepageContainer">
    <form id="searchForm" action="/client/results" method="POST">
        <input type="text" name="username" value="{{username}}" class="noDisplay"/>
        <input type="text" name="swid" value="{{swid}}" class="noDisplay"/>
        <div id="navItemContainer">
            <div class="navItemContainer">
                <input type="radio" name="resourceType" value="Temporary Work" class="navButton" id="tempWork">
                    <i class="servicesIcon fas fa-briefcase" id="workIcon"></i>
                <br>
                <div class="navItemLabel">
                    Work
                </div>
            </div>
            <div class="navItemContainer">
                <input type="radio" name="resourceType" value="Shelter"  class="navButton" id="shelter">
                    <i class="servicesIcon fas fa-bed" id="shelterIcon"></i>
                <br>
                <div class="navItemLabel">
                    Shelter
                </div>
            </div>
            <div class="navItemContainer">
                <input type="radio" name="resourceType" value="Food" class="navButton" id="food">
                    <i class="servicesIcon fas fa-utensils" id="foodIcon"></i>
                <br>
                <div class="navItemLabel">
                    Food
                </div>
            </div>
            <div class="navItemContainer">
                <input type="radio" name="resourceType" value="Healthcare" class="navButton" id="healthcare"/>
                    <i class="servicesIcon fas fa-user-md" id="healthcareIcon"></i>
                <br>
                <div class="navItemLabel">
                    Healthcare
                </div>
            </div>
            <div class="navItemContainer">
                <input type="radio" name="resourceType" value="Government Help"  class="navButton" id="govHelp"/>
                    <i class="servicesIcon fas fa-landmark" id=govIcon></i>
                <br>
                <div class="navItemLabel">
                    Government Assistance
                </div>
            </div>
            <div class="navItemContainer">
                <input type="radio" name="resourceType" value="Social Services" class="navButton" id="socialservices"/>
                    <i class="servicesIcon fas fa-hands-helping" id="socialservicesIcon"></i>
                <br>
                <div class="navItemLabel">
                    Social Services
                </div>
            </div>
            <div class="navItemContainer">
                <input type="radio" name="resourceType" value="Items" class="navButton" id="items"/>
                    <i class="servicesIcon fas fa-shopping-basket" id="itemsIcon"></i>
                <br>
                <div class="navItemLabel">
                    Items
                </div>
            </div>
            <div class="navItemContainer">
                <input type="radio" name="resourceType" value="Clothing" class="navButton" id="clothing"/>
                    <i class="servicesIcon fas fa-tshirt" id="clothingIcon"></i>
                <br>
                <div class="navItemLabel">
                    Clothing
                </div>
            </div>
            <div class="navItemContainer">
                <input type="radio" name="resourceType" value="Internet" class="navButton" id="wifi"/>
                    <i class="servicesIcon fas fa-wifi" id=wifiIcon></i>
                <br>
                <div class="navItemLabel">
                    Internet
                </div>
            </div>
        </div>
        <br>

        <div id="searchModal">
            <input type="text" name="zipcodeInput" id="zipcodeInput" pattern="[0-9]{5}" placeholder="Enter ZIP Code"/>
        </div>
    </form>
</div>

<br/>
for now, 4 possibilities:<br/>
1: zip is not 5 digits in length. user is asked to enter 5 digits.<br/>
2: zip = 12345, which says 'oh no no data' and returns the name of a social worker<br/>
3: zip is 5 digits and <> 12345. user clicked temp work. web scraper activates and takes ~20 seconds, but actually spits out jobs in the 97330 area!<br/>
4: zip is 5 digits and <> 12345. user clicked any button but temp work. dummy data **actually pulled from the DB** is returned.<br/>
<br/>
<br/>
<div id="resultsContainer"></div>

<script src='/scripts/client.js'></script>
