<header class="hidden">

    <button type="button" name="Login">Login</button>

    <div id="homeButtonContainer">
        <a href="/"><i class="servicesIcon fas fa-home"></i></a>
    </div>
</header>
<br><br>


<div id="homepageContainer">

    <div id="navItemContainer">
        <div class="navItemContainer">
            <button class="navButton" id="tempWork">
                <i class="servicesIcon fas fa-briefcase" id="workIcon"></i>
            </button>
        </div>
        <div class="navItemContainer">
            <button class="navButton" id="shelter">
                <i class="servicesIcon fas fa-bed" id="shelterIcon"></i>
            </button>
        </div>
        <div class="navItemContainer">
            <button class="navButton" id="food">
                <i class="servicesIcon fas fa-utensils" id="foodIcon"></i>
            </button>
        </div>
        <div class="navItemContainer">
            <button class="navButton" id="healthcare">
                <i class="servicesIcon fas fa-user-md" id="healthcareIcon"></i>
            </button>
        </div>
        <div class="navItemContainer">
            <button class="navButton" id="govHelp">
                <i class="servicesIcon fas fa-landmark" id=govIcon></i>
            </button>
        </div>
        <div class="navItemContainer">
            <button class="navButton" id="socialservices">
                <i class="servicesIcon fas fa-hands-helping" id="socialservicesIcon"></i>
            </button>
        </div>
        <div class="navItemContainer">
            <button class="navButton" id="items">
                <i class="servicesIcon fas fa-shopping-basket" id="itemsIcon"></i>
            </button>
        </div>
        <div class="navItemContainer">
            <button class="navButton" id="clothing">
                <i class="servicesIcon fas fa-tshirt" id="clothingIcon"></i>
            </button>
        </div>
        <div class="navItemContainer">
            <button class="navButton" id="wifi">
                <i class="servicesIcon fas fa-wifi" id=wifiIcon></i>
            </button>
        </div>
    </div>
    <br>

    <div id="searchModal">
        <input type="text" name="zipcodeInput" pattern="[0-9]{5}" placeholder="Enter ZIP Code">
    </div>

</div>

<div id="resultsContainer"></div>

<script src='/scripts/client.js'></script>
